/*Reset*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*General*/
.container{
    width: 80%;
    margin:0 auto;
}

/*Header*/

header{
    padding:10px;
}

header img, header h1{
    vertical-align: middle;
}

h1{
    display:inline;
}

/*Main*/

main{
    background-color: #f7f8f9;
    padding: 20px 0;
}

.main-buttons{
    background-color: white;
    padding:20px;
    border-top-left-radius:10px; 
    border-top-right-radius:10px; 
}

#blue-button{
    background-color: #1fb4ff;    
    padding:5px; 
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

#white-button{
    background-color: white;
    padding:5px; 
    border-radius: 5px; 
    font-size: 18px;
    margin-left: 5px;
}

#line{
    color: rgba(255, 255, 255, 0.652);
}

.tasks-container{
    background-color: white;
    padding:20px; 
    border-radius:0px 0px 10px 10px;
}

.circle-check{
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: green;
    text-align: center;
    line-height: 20px;
}

.cross-check{
    display: inline-block;
    border: 1px solid rgb(217, 25, 25);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: rgb(217, 25, 25);
    text-align: center;
    line-height: 20px;
}

.task-text{
    font-size: 20px;
    padding-left:3px;
}

.task{
    margin-top: 20px;
}

.task-editorial{
    background-color: #0c9de6;
    color: white;
    padding: 5px;
    margin-left: 3px;
    border-radius:5px;
    font-size: 15px;
}

.task-q1-goals{
    background-color: #9738da;
    color: white;
    padding: 5px;
    margin-left: 3px;
    border-radius:5px;
    font-size: 15px;
}

.task-recruiting{
    background-color: #4b9046;
    color: white;
    padding: 5px;
    margin-left: 3px;
    border-radius:5px;
    font-size: 15px;
}

.task-mobile{
    background-color: #ff8121;
    color: white;
    padding: 5px;
    margin-left: 3px;
    border-radius:5px;
    font-size: 15px;
}

.task-website{
    background-color: #ca0dba;
    color: white;
    padding: 5px;
    margin-left: 3px;
    border-radius:5px;
    font-size: 15px;
}

.task-sales{
    background-color: #afff46;
    color: white;
    padding: 5px;
    margin-left: 3px;
    border-radius:5px;
    font-size: 15px;
}