/*Reset*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*General*/
.container{
    width: 80%;
    margin:0 auto;
}

/*Header*/

header{
    padding:10px;
}

header img, header h1{
    vertical-align: middle;
}

h1{
    display:inline;
}

/*Main*/

main{
    background-color: #f7f8f9;
    padding: 20px 0;
}

.main-buttons{
    background-color: white;
    padding:20px;
    border-top-left-radius:10px; 
    border-top-right-radius:10px; 
}

#blue-button{
    background-color: #5fcaff;    
    padding:5px; 
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

#white-button{
    background-color: white;
    padding:5px; 
    border-radius: 5px; 
    font-size: 18px;
    margin-left: 5px;
}

#line{
    color: rgba(255, 255, 255, 0.652);
}

.tasks-container{
    background-color: white;
    padding:20px; 
    border-radius:0px 0px 10px 10px;
}

.circle-check{
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: green;
    text-align: center;
    line-height: 20px;
}

.task-text{
    font-size: 24px;
    padding-left:3px;
}

.line-space{
    margin-top: 10px;
}